<ion-view view-title="Fotos do Atividade" cache-view="false">
    <ion-content>
        <div class="list" ng-show="adminAtividadeImagensCtrl.atividade.Fotos.length > 0">
            <div class="item item-thumbnail-left" ng-repeat="img in adminAtividadeImagensCtrl.atividade.Fotos">
                <img ng-src="{{img}}">
                <p ng-click="adminAtividadeImagensCtrl.remover(img)" class="atividade-foto-remover">Remover</p>
            </div>
        </div>

        <div class="row" ng-hide="adminAtividadeImagensCtrl.atividade.Fotos.length > 0">
            <div class="col">
                Atividade sem fotos!
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer bar-positive">
        <div class="button-bar">
            <a class="button positive" ng-click="adminAtividadeImagensCtrl.selecionar()">Adicionar Foto</a>
        </div>
    </ion-footer-bar>
</ion-view>