<ion-view view-title="Atividade">
    <ion-content>
        <div class="list">
            <form name="form" ng-submit="adminAtividadeCtrl.salvar()">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Titulo</span>
                    <input type="text" placeholder="titulo" ng-model="adminAtividadeCtrl.atividade.Titulo" required>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">Grupo</div>
                    <select ng-model="adminAtividadeCtrl.atividade.GrupoId" ng-options="item.Id as item.Descricao for item in adminAtividadeCtrl.grupos" class="form-control"></select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Descrição</span>
                    <textarea ng-model="adminAtividadeCtrl.atividade.CompletaApp" rows="4" cols="50" required></textarea>
                </label>
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-positive" type="submit" ng-disabled="form.$invalid || adminAtividadeCtrl.carregando">Salvar</button>
                    </div>
                </div>
                <div class="row" ng-show="adminAtividadeCtrl.atividade.Id > 0">
                    <div class="col">
                        <a href="#/app/adminAtividadeImagens" class="button button-block button-balanced" type="submit">Gerenciar Fotos</a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>