<ion-view view-title="Atividades">
    <ion-nav-buttons side="right" class="menu">
        <a href="#" ng-click="adminAtividadesCtrl.novo()" style="color: #fff; font-size: 20px; padding-top: 8px; padding-right: 5px;">
            <i class="icon ion-plus-round"></i>
        </a>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>  
            <div class="list card" ng-repeat="atividade in adminAtividadesCtrl.atividades">
                <div class="item item-avatar">
                    <img ng-if="atividade.GrupoViewModel.Id == 1" ng-src="http://www.ecoaprender.com.br/img/escola/{{adminAtividadesCtrl.escola.Id}}/bercario-icone.jpg">
                    <img ng-if="atividade.GrupoViewModel.Id == 2" ng-src="http://www.ecoaprender.com.br/img/escola/{{adminAtividadesCtrl.escola.Id}}/grupo1-icone.jpg">
                    <img ng-if="atividade.GrupoViewModel.Id == 3" ng-src="http://www.ecoaprender.com.br/img/escola/{{adminAtividadesCtrl.escola.Id}}/grupo2-icone.jpg">
                    <img ng-if="atividade.GrupoViewModel.Id == 4" ng-src="http://www.ecoaprender.com.br/img/escola/{{adminAtividadesCtrl.escola.Id}}/grupo3-icone.jpg">
                    <img ng-if="atividade.GrupoViewModel.Id == 5" ng-src="http://www.ecoaprender.com.br/img/escola/{{adminAtividadesCtrl.escola.Id}}/grupo4-icone.jpg">
                    <img ng-if="atividade.GrupoViewModel.Id == 6" ng-src="http://www.ecoaprender.com.br/img/escola/{{adminAtividadesCtrl.escola.Id}}/grupo5-icone.jpg">
                    <h2>{{atividade.Titulo}}</h2>
                    <p>{{atividade.GrupoViewModel.Descricao}} - {{atividade.Data | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="item item-body">
                    <a href="#" ng-click="adminAtividadesCtrl.editar(atividade)" class="subdued" ng-if="atividade.Id > 55">
                        <p>
                            {{atividade.Resumo}}
                        </p>
                        <p class="editar">
                            Editar
                        </p>
                    </a>
                    
                    <p ng-if="atividade.Id <= 55">
                        {{atividade.Resumo}}
                    </p>

                </div>
            </div>
        </ion-list>
        
        <ion-infinite-scroll ng-if="!adminAtividadesCtrl.noMoreItemsAvailable" on-infinite="adminAtividadesCtrl.LoadMore()" distance="5%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
