<ion-view view-title="Atividades">
    <ion-content>
        <ion-list>  
            <div class="list card" ng-repeat="atividade in atividadesCtrl.atividades">
                <div class="item item-avatar">
                    <img ng-if="atividade.Id > 55 && atividade.GrupoViewModel.Id == 1" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadesCtrl.escola.Id}}/bercario-icone.jpg">
                    <img ng-if="atividade.Id > 55 && atividade.GrupoViewModel.Id == 2" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadesCtrl.escola.Id}}/grupo1-icone.jpg">
                    <img ng-if="atividade.Id > 55 && atividade.GrupoViewModel.Id == 3" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadesCtrl.escola.Id}}/grupo2-icone.jpg">
                    <img ng-if="atividade.Id > 55 && atividade.GrupoViewModel.Id == 4" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadesCtrl.escola.Id}}/grupo3-icone.jpg">
                    <img ng-if="atividade.Id > 55 && atividade.GrupoViewModel.Id == 5" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadesCtrl.escola.Id}}/grupo4-icone.jpg">
                    <img ng-if="atividade.Id > 55 && atividade.GrupoViewModel.Id == 6" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadesCtrl.escola.Id}}/grupo5-icone.jpg">
                    <img ng-if="atividade.Id < 56" ng-src="http://www.ecoaprender.com.br/img/atividades/{{atividade.FotoResumo}}">
                    <h2>{{atividade.Titulo}}</h2>
                    <p>{{atividade.GrupoViewModel.Descricao}} - {{atividade.Data | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="item item-body">
                    <a href="#" ng-click="atividadesCtrl.VerMais(atividade)" class="subdued">
                        <img ng-if="atividade.Id < 56" class="full-image" ng-src="http://www.ecoaprender.com.br/img/atividades/{{atividade.FotoResumo}}">
                        <p>
                            {{atividade.Resumo}}
                        </p>
                        <p class="editar">
                            Ver mais
                        </p>
                    </a>
                </div>
            </div>
        </ion-list>
        
        <ion-infinite-scroll ng-if="!atividadesCtrl.noMoreItemsAvailable" on-infinite="atividadesCtrl.LoadMore()" distance="2%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
