<ion-view view-title="{{atividadeCtrl.atividade.Titulo}}">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar">
            <img ng-if="atividadeCtrl.atividade.Id > 55 && atividadeCtrl.atividade.GrupoViewModel.Id == 1" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadeCtrl.escola.Id}}/bercario-icone.jpg">
            <img ng-if="atividadeCtrl.atividade.Id > 55 && atividadeCtrl.atividade.GrupoViewModel.Id == 2" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadeCtrl.escola.Id}}/grupo1-icone.jpg">
            <img ng-if="atividadeCtrl.atividade.Id > 55 && atividadeCtrl.atividade.GrupoViewModel.Id == 3" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadeCtrl.escola.Id}}/grupo2-icone.jpg">
            <img ng-if="atividadeCtrl.atividade.Id > 55 && atividadeCtrl.atividade.GrupoViewModel.Id == 4" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadeCtrl.escola.Id}}/grupo3-icone.jpg">
            <img ng-if="atividadeCtrl.atividade.Id > 55 && atividadeCtrl.atividade.GrupoViewModel.Id == 5" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadeCtrl.escola.Id}}/grupo4-icone.jpg">
            <img ng-if="atividadeCtrl.atividade.Id > 55 && atividadeCtrl.atividade.GrupoViewModel.Id == 6" ng-src="http://www.ecoaprender.com.br/img/escola/{{atividadeCtrl.escola.Id}}/grupo5-icone.jpg">
            <img ng-if="atividadeCtrl.atividade.Id < 56" ng-src="http://www.ecoaprender.com.br/img/atividades/{{atividadeCtrl.atividade.FotoResumo}}">

            <h2>{{atividadeCtrl.atividade.Titulo}}</h2>
            <p>Grupo {{atividadeCtrl.atividade.GrupoViewModel.Descricao}} - {{atividadeCtrl.atividade.Data | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="item item-body">
            <span ng-bind-html="atividadeCtrl.atividade.CompletaAppFormatada"></span>
        </div>
    </div>
  </ion-content>
</ion-view>
