
<ion-view view-title="Iniciar Conversa">
    <ion-content>
        <form name="form" ng-submit="chatNovoCtrl.enviar()" novalidate>            
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">Tipo</div>
                    <select required ng-change="chatNovoCtrl.exibirParaPorParaTipoId()" ng-model="chatNovoCtrl.form.ParaTipo" ng-options="item.Id as item.Descricao for item in chatNovoCtrl.tipos">
                        <option value="">selecione um tipo</option>
                    </select>
                </label>

                <label ng-if="chatNovoCtrl.form.ParaTipo == 'usuario' || chatNovoCtrl.form.ParaTipo == 'grupo'" class="item item-input item-select">
                    <div class="input-label">Para</div>
                    <select ng-if="chatNovoCtrl.form.ParaTipo == 'usuario'" required ng-model="chatNovoCtrl.form.Para" ng-options="item.Id as item.Nome for item in chatNovoCtrl.usuarios">
                        <option value="">selecione um usuário</option>
                    </select>

                    <select ng-if="chatNovoCtrl.form.ParaTipo != 'usuario'" required ng-model="chatNovoCtrl.form.GrupoParaId" ng-options="item.Id as item.Descricao for item in chatNovoCtrl.grupos">
                        <option value="">selecione um grupo</option>
                    </select>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Assunto</span>
                    <input required type="text" ng-model="chatNovoCtrl.form.Assunto">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Mensagem</span>
                    <textarea required cols="5" rows="5" ng-model="chatNovoCtrl.form.Mensagem"></textarea>
                </label>

                <div class="row">
                    <div class="col">
                        <button ng-hide="chatNovoCtrl.carregando" class="button button-block button-positive" type="submit" ng-disabled="chatNovoCtrl.carregando || form.$invalid">
                            ENVIAR
                        </button>

                        <button ng-show="chatNovoCtrl.carregando" class="button button-block button-positive" type="submit" ng-disabled="chatNovoCtrl.carregando || form.$invalid">
                            CARREGANDO...
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>