<ion-view view-title="{{chatConversaCtrl.chat.Assunto}}">
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button class="button-clear" ng-click="chatConversaCtrl.voltar()">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <!-- primeira mensagem -->
        <div class="list border-none me margin-top-20">
            <div class="item item-avatar-s chat-friend" ng-if="true">
                <img ng-src="http://www.ecoaprender.com.br/img/logo-eco-aprender.jpg" src="http://www.ecoaprender.com.br/img/logo-eco-aprender.jpg">
                <p class="chat-text stable-bg ng-binding">
                    <small>{{chatConversaCtrl.chat.DataInclusao | date:'dd/MM/yyyy hh:mm'}}</small><br />
                    {{chatConversaCtrl.chat.Mensagem}}
                </p>
            </div>
        </div>

        <div ng-repeat="mensagem in chatConversaCtrl.chat.ChatMensagens">
            <div class="list border-none" ng-if="mensagem.De != chatConversaCtrl.chat.De">
                <div class="item item-avatar-right-s chat-me text-right">
                    <img ng-src="http://www.ecoaprender.com.br/img/logo-eco-aprender.jpg" src="http://www.ecoaprender.com.br/img/logo-eco-aprender.jpg">
                    <p class="chat-text positive-bg text-left ng-binding">
                        <small class="cinza-claro">{{mensagem.DataInclusao | date:'dd/MM/yyyy hh:mm'}}</small><br />
                        {{mensagem.Mensagem}}                        
                    </p>
                </div>
            </div>

            <div class="list border-none" class="me" ng-if="mensagem.De == chatConversaCtrl.chat.De">
                <div class="item item-avatar-s chat-friend" ng-if="true">
                    <img ng-src="http://www.ecoaprender.com.br/img/logo-eco-aprender.jpg" src="http://www.ecoaprender.com.br/img/logo-eco-aprender.jpg">
                    <p class="chat-text stable-bg ng-binding">
                        <small>{{mensagem.DataInclusao | date:'dd/MM/yyyy hh:mm'}}</small><br />
                        {{mensagem.Mensagem}}                        
                    </p>
                </div>
            </div>
        </div>

        <!--<div class="card">
            <div class="item item-text-wrap">
                <strong>{{chatConversaCtrl.chat.Assunto}}</strong>
                <small>{{chatConversaCtrl.chat.DataInclusao | date:'dd/MM/yyyy'}}</small>
                <small>{{chatConversaCtrl.chat.UsuarioDe.Nome}}</small>
                <small>{{chatConversaCtrl.chat.UsuarioPara.Nome}}</small>
                <span ng-bind-html="chatConversaCtrl.chat.Mensagem"></span>
            </div>
        </div>-->

        <!-- responder -->
        <!--<form name="form" ng-submit="chatConversaCtrl.responder()" novalidate>
            <div class="card">
                <div class="item item-text-wrap">
                    <textarea ng-model="chatConversaCtrl.chatConversa.Mensagem"></span>
                </div>
                <div class="item item-text-wrap">
                    <button ng-hide="chatConversaCtrl.carregando" class="button button-block button-positive" type="submit" ng-disabled="chatConversaCtrl.carregando || form.$invalid">
                        ENVIAR
                    </button>

                    <button ng-show="chatConversaCtrl.carregando" class="button button-block button-positive" type="submit" ng-disabled="chatConversaCtrl.carregando || form.$invalid">
                        CARREGANDO...
                    </button>
                </div>
            </div>
        </form>-->

        <!-- respostas -->
        <!--<div class="card" ng-repeat="mensagem in chatConversaCtrl.Mensagens">
            <div class="item item-text-wrap">
                <strong>{{mensagem.UsuarioDe.Nome}}</strong>
                <span ng-bind-html="mensagem.Mensagem"></span>
            </div>
        </div>-->
    </ion-content>

    <ion-footer-bar class="bar-light chat-bar bar bar-footer">
        <form class="row ng-valid-minlength ng-dirty ng-valid-parse ng-valid ng-valid-required ng-submitted" name="form" ng-submit="chatConversaCtrl.responder()">
            <input class="col col-75 ng-valid-minlength ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched meu-input" type="text" ng-model="chatConversaCtrl.form.Mensagem" placeholder="Escreva uma mensagem" ng-minlength="1" ng-required="true" required="required">
            <button ng-hide="chatConversaCtrl.carregando" class="col button button-positive" type="submit" ng-disabled="form.$invalid || chatConversaCtrl.carregando">Enviar</button>
            <button ng-show="chatConversaCtrl.carregando" class="col button button-positive" type="submit" ng-disabled="form.$invalid || chatConversaCtrl.carregando">Enviando...</button>
        </form>
    </ion-footer-bar>
</ion-view>
