<ion-view view-title="Medicamentos">
    <ion-nav-buttons side="right" class="menu">
        <a href="#" ng-click="medicamentosCtrl.novo()" style="color: #fff; font-size: 20px; padding-top: 8px; padding-right: 5px;">
            <i class="icon ion-plus-round"></i>
        </a>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>  
            <div class="list" ng-repeat="medicamento in medicamentosCtrl.medicamentos">
                <a class="item item-avatar" href="#">
                    <img src="venkman.jpg">
                    <h2>{{medicamento.Remedio}}</h2>
                    <p>De: {{medicamento.De | date:'dd/MM/yyyy'}}</p>
                    <p>Até: {{medicamento.Ate | date:'dd/MM/yyyy'}}</p>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
