<ion-view view-title="Medicamento">
    <ion-content>
        <div class="list">
            <form name="form" ng-submit="medicamentoCtrl.salvar()">
                <label class="item item-input item-select">
                    <div class="input-label">Grupo</div>
                    <select ng-model="medicamentoCtrl.medicamento.AlunoId" ng-options="item.Id as item.Nome for item in medicamentoCtrl.alunos" class="form-control"></select>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Titulo</span>
                    <input type="text" placeholder="remedio" ng-model="medicamentoCtrl.medicamento.Remedio" required>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Dose</span>
                    <input type="text" placeholder="dose" ng-model="medicamentoCtrl.medicamento.Dose" required>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Horário</span>
                    <input type="text" placeholder="horário" ng-model="medicamentoCtrl.medicamento.Horario" required>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">De</span>
                    <input type="date" placeholder="de" ng-model="medicamentoCtrl.medicamento.De" required>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Até</span>
                    <input type="date" placeholder="até" ng-model="medicamentoCtrl.medicamento.Ate" required>
                </label>
                
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-positive" type="submit" ng-disabled="form.$invalid || medicamentoCtrl.carregando">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>