<ion-view view-title="Vídeos">
    <ion-content>
        <ion-list>  
            <div class="list card" ng-repeat="video in videosCtrl.videos">
                <div class="item item-avatar">
                    <img ng-src="img/{{video.Grupo}}.png">
                    <h2>{{::video.Data | date:'dd/MM/yyyy'}}</h2>
                    <p>{{::video.Titulo}}</p>
                </div>
                <div class="item item-body">
                    <p><iframe ng-src="{{videosCtrl.GetIframeSrc(video.Embed)}}" frameborder="0" allowfullscreen class="player" itemprop="video" width="100%"></iframe></p>
                    <p ng-bind-html="video.Descricao"></p>
                </div>
            </div>
        </ion-list>
        
        <ion-infinite-scroll ng-if="!videosCtrl.noMoreItemsAvailable" on-infinite="videosCtrl.LoadMore()" distance="2%"></ion-infinite-scroll>
    </ion-content>
</ion-view>