.painel-img{
    width: 100%;
}

.painel-comunicados-atividades{
    background-color: #0184B8;
}

.painel-comunicados-atividades .col-50{
    text-align: center;
    padding-top: 15px;
}

.painel-comunicados-atividades .col-50 a{
    text-decoration: none;
    color: #fff;
}