.confirmacao-realizada{
  margin-top: 10px;
  color: #387ef5;
}

.meu-footer{
  height: 67px;
}

.meu-footer .icon{
  font-size: 22px;
  color: #fff;
}

.relatorio-header{
  background-color: #387ef5;
  color: #fff;
}

.list.relatorio-div-principal{
  margin-bottom: 300px; 
}